<p-toast></p-toast>

<p-dropdown [options]="frames" [(ngModel)]="selectedFrame" optionLabel="name" placeholder="Select Frames" />

<button pButton type="button" label="Add New Frame:" (click)="showDialog()" icon="pi pi-plus"></button>

<p-dialog header="Add New Frame " [(visible)]="displayDialog" [modal]="true" [closable]="false" class="text-center">
    <div class="p-fluid">
        <div class="p-field">
            <label for="frameName"></label>
            <input #frameInput pInputText id="frameName" [(ngModel)]="newFrameName" placeholder="Enter Frame Name:"
                class="mark" />
        </div>

        <p-footer>
            <button class="d-block mx-auto  my-3" pButton type="button" label="Add" (click)="addNewFrame() "
                icon="pi pi-check"></button>

        </p-footer>
    </div>

    <button *ngIf="displayDialog" (click)="closeDialog()" style="position: absolute; top: 1px; right: 10px;"
        class="p-button-rounded p-button-danger">
        <i class="pi pi-times"> <i class="fa-solid fa-x"></i></i>
    </button>
</p-dialog>