<div class="d-flex justify-content-center align-items-center p-4 m-4">

    <div class="w-75 mx-auto p-4 m-5 addProduct ">

        <div class="mb-3 text-white">

            <i class="fa-solid fa-right-to-bracket"></i> Type Of Product:
        </div>


        <form (ngSubmit)="handle()">
            <div class="row gy-4">
                <div class="col-md-6">
                    <div>

                        <label for="name">Name:</label>
                        <input id="name" type="text" class="form-control" placeholder=" Enter Name:">

                    </div>
                </div>

                <div class="col-md-6">
                    <div>

                        <label for="Description">Description:</label>
                        <input id="Description" type="text" class="form-control" placeholder=" Enter Description:">

                    </div>
                </div>
                <div class="col-md-6">
                    <div>

                        <label for="price">Price:</label>
                        <input id="price" type="number" class="form-control" placeholder=" Enter Price:">

                    </div>
                </div>

                <div class="col-md-6">
                    <div>

                        <label for="price_before">Price Before Discount:</label>
                        <input id="price_before" type="number" class="form-control"
                            placeholder=" Enter Price Before Discount:">

                    </div>
                </div>
                <div class="col-md-6">
                    <div>

                        <label for="Category">Category:</label>
                        <input id="Category" class="form-control" placeholder=" Choose Category:">

                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <p-toast></p-toast>

                        <!-- Dropdown to select a material -->
                        <div class="d-flex align-items-center">
                            <p-dropdown [options]="materials" [(ngModel)]="selectedMaterial" optionLabel="name" name="m"
                                placeholder="Select Material" styleClass="w-full md:w-80"></p-dropdown>

                            <!-- Button to open the material modal -->
                            <button pButton type="button" label="Add New Material" (click)="showMaterialDialog()"
                                icon="pi pi-plus"></button>
                        </div>

                        <!-- Dialog for adding a new material -->
                        <p-dialog header="Add New Material:" [(visible)]="displayMaterialDialog" [modal]="true"
                            [closable]="false">
                            <div class="p-fluid">
                                <div class="p-field">
                                    <input pInputText id="materialName" [(ngModel)]="newMaterialName"
                                        [ngModelOptions]="{standalone: true}" placeholder="Enter Material Name"
                                        class="my-4" />
                                </div>

                                <p-footer>
                                    <button class="d-block mx-auto" pButton type="button" label="Add"
                                        (click)="addNewMaterial()" icon="pi pi-check"></button>
                                </p-footer>
                            </div>

                            <button *ngIf="displayMaterialDialog" (click)="closeDialog()"
                                style="position: absolute; top: 10px; right: 10px;"
                                class="p-button-rounded p-button-danger">
                                <i class="pi pi-times"><i class="fa-solid fa-x"></i></i>
                            </button>
                        </p-dialog>
                    </div>


                </div>
                <div class="col-md-6">
                    <div>
                        <p-toast></p-toast>


                        <div class="d-flex align-items-center">
                            <p-dropdown [options]="frames" [(ngModel)]="selectedFrame" optionLabel="name"
                                placeholder="Select Frame" name="something" styleClass="w-full md:w-80"></p-dropdown>


                            <button pButton type="button" label="Add New Frame" (click)="showFrameDialog()"
                                icon="pi pi-plus"></button>
                        </div>

                        <!-- Dialog for adding a new frame -->
                        <p-dialog header="Add New Frame:" [(visible)]="displayFrameDialog" [modal]="true"
                            [closable]="false">
                            <div class="p-fluid">
                                <div class="p-field">
                                    <input #frameInput pInputText id="frameName" [(ngModel)]="newFrameName"
                                        [ngModelOptions]="{standalone: true}" placeholder="Enter Frame Name"
                                        class="my-4" />
                                </div>

                                <p-footer>
                                    <button class="d-block mx-auto" pButton type="button" label="Add"
                                        (click)="addNewFrame()" icon="pi pi-check"></button>
                                </p-footer>
                            </div>

                            <button *ngIf="displayFrameDialog" (click)="closeDialog()"
                                style="position: absolute; top: 10px; right: 10px;"
                                class="p-button-rounded p-button-danger">
                                <i class="pi pi-times"> <i class="fa-solid fa-x"></i></i>
                            </button>
                        </p-dialog>
                    </div>
                </div>

                <div class="col-md-6">



                    <div>
                        <p-toast></p-toast>

                        <!-- Dropdown to select a size -->
                        <div class="d-flex align-items-center">
                            <p-dropdown [options]="sizes" [(ngModel)]="selectedSize" optionLabel="name" name="s"
                                placeholder="Select Size" styleClass="w-full md:w-80"></p-dropdown>

                            <!-- Button to open the size modal -->
                            <button pButton type="button" label="Add New Size" (click)="showSizeDialog()"
                                icon="pi pi-plus"></button>
                        </div>

                        <!-- Dialog for adding a new size -->
                        <p-dialog header="Add New Size:" [(visible)]="displaySizeDialog" [modal]="true"
                            [closable]="false">
                            <div class="p-fluid">
                                <div class="p-field">
                                    <input pInputText id="sizeName" [(ngModel)]="newSizeName"
                                        [ngModelOptions]="{standalone: true}" placeholder="Enter Size Name"
                                        class="my-4" />
                                </div>

                                <p-footer>
                                    <button class="d-block mx-auto" pButton type="button" label="Add"
                                        (click)="addNewSize()" icon="pi pi-check"></button>
                                </p-footer>
                            </div>

                            <button *ngIf="displaySizeDialog" (click)="closeDialog()"
                                style="position: absolute; top: 10px; right: 10px;"
                                class="p-button-rounded p-button-danger">
                                <i class="pi pi-times"><i class="fa-solid fa-x"></i></i>
                            </button>
                        </p-dialog>
                    </div>



















                </div>

                <div class="col-md-6">
                    <div>

                        <label for="img">Product Image:</label>
                        <input id="img" class="form-control" type="file" placeholder=" Choose Product Image:">

                    </div>
                </div>
            </div>

            <button class="form-control mt-5 addButton">
                UPDATE:
            </button>
        </form>







    </div>
</div>