<div class="edit-product-container container">
  <div class="row g-4">
    <div class="col-lg-6 d-flex align-items-center">
      <!-- Product Name Input -->
      <div class="form-group w-100">
        <label for="product-name">Product Name:</label>
        <input
          id="product-name"
          [(ngModel)]="product.name"
          type="text"
          class="form-control"
          placeholder="Enter product name"
        />
      </div>
    </div>

    <div class="col-lg-6 d-flex align-items-center">
      <!-- Product Price Input -->
      <div class="form-group w-100">
        <label for="product-price">Price:</label>
        <input
          id="product-price"
          [(ngModel)]="product.price"
          type="number"
          class="form-control"
          placeholder="Enter product price"
        />
      </div>
    </div>
    <div class="col-lg-6 d-flex align-items-center">
      <!-- Product Old Price Input -->
      <div class="form-group w-100">
        <label for="product-oldPrice">Old Price:</label>
        <input
          id="product-oldPrice"
          [(ngModel)]="product.oldPrice"
          type="number"
          class="form-control"
          placeholder="Enter old price"
        />
      </div>
    </div>
    <div class="col-lg-6 d-flex align-items-center">
      <!-- Units In Stock Input -->
      <div class="form-group w-100">
        <label for="product-unitsInStock">Units in Stock:</label>
        <input
          id="product-unitsInStock"
          [(ngModel)]="product.unitsInStock"
          type="number"
          class="form-control"
          placeholder="Enter units in stock"
        />
      </div>
    </div>

    <div class="col-lg-6 d-flex align-items-center">
      <div class="form-group w-100">
        <label for="categories " class="d-block">Categories:</label>
        <p-multiSelect
          [options]="categories"
          [(ngModel)]="CategoryNames"
          optionLabel="name"
          placeholder="Select categories"
          class="w-100"
        ></p-multiSelect>
      </div>
    </div>

    <div class="col-lg-6 d-flex align-items-center">
      <div class="form-group w-100">
        <label for="frames" class="d-block">Frames:</label>
        <p-multiSelect
          [options]="frames"
          [(ngModel)]="FramesNames"
          optionLabel="name"
          placeholder="Select frames"
          class="w-100"
        ></p-multiSelect>
      </div>
    </div>

    <div class="col-lg-6 d-flex align-items-center">
      <div class="form-group w-100">
        <label for="sizes " class="d-block">Sizes:</label>
        <p-multiSelect
          [options]="sizes"
          [(ngModel)]="SizesNames"
          optionLabel="name"
          placeholder="Select sizes"
          class="w-100"
        ></p-multiSelect>
      </div>
    </div>
    <div class="col-lg-6 d-flex align-items-center">
      <div class="form-group w-100">
        <label for="materials " class="d-block">Materials:</label>
        <p-multiSelect
          [options]="materials"
          [(ngModel)]="MaterialsNames"
          optionLabel="name"
          placeholder="Select materials"
          class="w-100"
        ></p-multiSelect>
      </div>
    </div>

    <div class="col-12 d-flex align-items-center">
      <!-- Product Description Input -->
      <div class="form-group w-100">
        <label for="product-description">Product Description:</label>
        <textarea
          rows="5"
          id="product-description"
          [(ngModel)]="product.description"
          class="form-control"
          placeholder="Enter product description"
        ></textarea>
      </div>
    </div>

    <div class="col-12">
      <!-- Update Product Button -->
      <div class="form-group w-100 w-100">
        <button (click)="updateProduct()" class="btn btn-main w-100">
          Update Product
        </button>
      </div>
    </div>

    <div class="col-lg-6 d-flex align-items-center"></div>
    <div class="col-lg-6 d-flex align-items-center"></div>
  </div>

  <!-- Display Added Images -->
  <div class="image-list mt-3">
    <p class="text-danger">
      NOTE** If you don't want to update the images don't select
    </p>
    <p class="text-danger">
      NOTE** You can not update just one image you should update all of them
    </p>
  </div>

  <label class="d-block">Images:</label>
  <input
    type="file"
    multiple
    class="inputfile"
    (change)="onFileSelected($event)"
  />
</div>
