z<div class="d-flex justify-content-center align-items-center p-4 m-4">

    <div class="w-75 mx-auto p-4 m-5 addProduct ">

        <div class="mb-3 text-white">

            <i class="fa-solid fa-right-to-bracket"></i> Type Of Product:
        </div>


        <form>
            <div class="row gy-4">
                <div class="col-md-6">
                    <div>

                        <label for="name">Name:</label>
                        <input id="name" type="text" class="form-control" placeholder=" Enter Name:">

                    </div>
                </div>

                <div class="col-md-6">
                    <div>

                        <label for="price">Price:</label>
                        <input id="price" type="number" class="form-control" placeholder=" Enter Price:">

                    </div>
                </div>

                <div class="col-md-6">
                    <div>

                        <label for="price_before">Price Before Discount:</label>
                        <input id="price_before" type="number" class="form-control"
                            placeholder=" Enter Price Before Discount:">

                    </div>
                </div>
                <div class="col-md-6">
                    <div>

                        <label for="Category">Category:</label>
                        <input id="Category" class="form-control" placeholder=" Choose Category:">

                    </div>
                </div>
                <div class="col-md-6">
                    <div>

                        <label for="Material">Material:</label>
                        <input id="Material" class="form-control" placeholder=" Choose Material:">

                    </div>
                </div>
                <div class="col-md-6">
                    <div>

                        <label for="Frame">Frame:</label>
                        <input id="Frame" class="form-control" placeholder=" Choose Frame:">

                    </div>
                </div>
                <div class="col-md-6">
                    <div>

                        <label for="Size">Size:</label>
                        <input id="Size" class="form-control" placeholder=" Choose Size:">

                    </div>
                </div>

                <div class="col-md-6">
                    <div>

                        <label for="img">Product Image:</label>
                        <input id="img" class="form-control" type="file" placeholder=" Choose Product Image:">

                    </div>
                </div>
            </div>

            <button class="form-control mt-5 addButton">
                UPDATE:
            </button>
        </form>







    </div>
</div>