<section class="listSection">
    <div class="InnerSection d-flex justify-content-center">
        <div class="search_component">
            <app-search />

        </div>
    </div>
    <div class="ListTable">
        <p-table [value]="Categories" styleClass="p-datatable-gridlines" dataKey="id"
            [tableStyle]="{'min-width': '60rem'}" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[ 10, 20] ">
            <ng-template pTemplate="header">
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Subject</th>
                    <th>Massage</th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-category let-i="rowIndex">
                <tr class="list">
                    <td class="text-center">{{ category._id }}</td>
                    <td class="text-center">{{ category._id }}</td>
                    <td class="text-center">{{ category.name }}</td>
                    <td>{{ category.name }}</td>

                    <td>{{ category.name }}</td>

                    <td>
                        <div class="d-flex align-items-center justify-content-center gap-3">
                            <span class="action-icon">
                                <i class="fa-solid fa-trash text-danger" title="Delete"></i>
                            </span>
                            <span class="action-icon">
                                <i class="fa-regular fa-pen-to-square text-success" title="Edit"></i>
                            </span>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <!-- <div class="flex align-items-center justify-content-around">
                    In total, there are {{ Categories.length }} categories.
                </div> -->
            </ng-template>
        </p-table>
    </div>
</section>


<p-multiselect [options]="cities" [(ngModel)]="selectedCities" optionLabel="name" placeholder="Select Cities"
    [maxSelectedLabels]="3" styleClass="w-full md:w-80" />