<section class="listSection">
    <div class="InnerSection d-flex justify-content-center">

    </div>
    <div class="ListTable">
        <p-table [value]="messages" styleClass="p-datatable-gridlines" dataKey="id"
            [tableStyle]="{'min-width': '60rem'}" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[ 10, 20] ">
            <ng-template pTemplate="header">
                <tr>
                    <th>Id</th>
                    <th>User Id</th>
                    <th>Email</th>
                    <th>Subject</th>
                    <th>Massage</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-message let-i="rowIndex">
                <tr class="list">
                    <td class="text-center">{{ message.id }}</td>
                    <td class="text-center">{{ message.userId }}</td>
                    <td class="text-center">{{ message.contactEmail }}</td>
                    <td class="text-center ">{{ message.subject }}</td>
                    <td class="text-center w-25">{{ message.content }}</td>


                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <!-- <div class="flex align-items-center justify-content-around">
                    In total, there are {{ Categories.length }} categories.
                </div> -->
            </ng-template>
        </p-table>
    </div>
</section>