.p-datatable .p-datatable-tbody > tr > td {
  text-align: center;
  border: 1px solid #e5e7eb;
  // border-width: 0 0 1px 0;

  padding: 1px !important;
}
.productTable {
  //   border-radius: 30px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  //   width: 100%;w
}
.CatTable {
  width: 350%;
}
tr td {
  text-align: center;
}

.p-datatable-gridlines td,
th {
  padding-block: 0px !important;
}
:host {
  color: white;
}
