.p-datatable .p-datatable-tbody > tr > td {
  text-align: center;
  border: 1px solid #e5e7eb;
  padding: 1px !important;
}
.productTable {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.CatTable {
  width: 350%;
}
tr td {
  text-align: center;
}

.p-datatable-gridlines td,
th {
  padding-block: 0px !important;
}
:host {
  color: white;
}
