<section class="order_section">
    <div class="section_head d-flex justify-content-center">
        <div class="search_component">
            <app-search />
        </div>
    </div>
    <div class="order_table">
        <p-table 
            [value]="products"
            styleClass="p-datatable-gridlines" 
            dataKey="id" [tableStyle]="{'min-width': '60rem'}"
            [paginator]="true"
            [rows]="11" 
            [rowsPerPageOptions]="[5, 10, 20] " 
            class=""
        >
            <ng-template pTemplate="header">
                <tr>
                    <th>Tracking ID</th>
                    <th>Customer</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Payment Mode</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-order>
                <tr routerLink="order-detials" class="Order">
                    <td>#3548725</td>
                    <td>sanderson</td>
                    <td>18/5/2024</td>
                    <td>$20</td>
                    <!-- <td>{{ order.amount | currency : 'USD' }}</td> -->
                    <td>Transfer Bank</td>
                    <td>
                        <p-tag [severity]="'success'">Deliverd</p-tag>
                    </td>
                    <td>
                        <div class="action_icons d-flex justify-content-around align-items-center">
                            <div class="showIcon">
                                <i class="fa-solid fa-eye"></i>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</section>