<section class="order_section">
    <div class="section_head d-flex justify-content-center">
        <div class="search_component d-flex justify-content-between align-items-center">
            <app-search />
        </div>
    </div>
    <div class="order_table">
        <p-table 
            [value]="orders_list"
            styleClass="p-datatable-gridlines" 
            dataKey="id" [tableStyle]="{'min-width': '60rem'}"
            [paginator]="true"
            [rows]="10" 
            [rowsPerPageOptions]="[5, 10, 20] " 
            class=""
        >
            <ng-template pTemplate="header">
                <tr>
                    <th>Tracking ID</th>
                    <th>User ID</th>
                    <th>Date</th>
                    <th>Total Price</th>
                    <th>Payment Mode</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-order>
                <tr routerLink="order-detials" class="Order">
                    <td>#{{order.id}}</td>
                    <td>{{ order.userId }}</td>
                    <td>{{order.orderDate}}</td>
                    <td>${{order.totalPrice}}</td>
                    <!-- <td>{{ order.paymentMethod | currency : 'USD' }}</td> -->
                    <td>{{order.paymentMethod}}</td>
                    <td>
                        <p-tag [severity]="'success'">{{order.orderStatus}}</p-tag>
                    </td>
                    <td>
                        <div class="action_icons d-flex justify-content-around align-items-center">
                            <div class="showIcon">
                                <i class="fa-solid fa-eye"></i>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</section>