<section class="order-details d-flex flex-column">
    <div class="order">
        <div class="head">
            <div class="header d-flex align-items-center gap-4 mb-2">
                <div>
                    <h1 class="m-0">Order ID : <span>#3548725</span></h1>
                </div>
                <div>
                    <p-tag  [severity]="'success'">Deliverd</p-tag>
                </div>
            </div>
            <div class="content d-flex justify-content-between align-items-center">
                <div class="date d-flex gap-3">
                    <i class="fa-solid fa-calendar-days"></i>
                    <p>Feb 16,2024 - Feb 20,2024</p>
                </div>
                <div class="option d-flex gap-3">
                    <div class="">
                        <div ngbDropdown class="d-inline-block dropdownToggle">
                            <button type="button" class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle>
                                Change Status
                            </button>
                            <div class="dropdownMenue" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button ngbDropdownItem>Process</button>
                                <button ngbDropdownItem>Pindding</button>
                                <button ngbDropdownItem>Deliverd</button>
                            </div>
                        </div>
                    </div>
                    <div class="savebtn">
                        <button class="btn btn-secondary">save</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="informations">
            <div class="customerInfo d-flex justify-content-around align-items-center gap-4">
                <div class="card d-flex justify-content-around align-items-start flex-row">
                    <div class="icon">
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <div class="content">
                        <h2>Coustomer</h2>
                        <p>Full name : <span>Jone sigh</span></p>
                        <p>Email <span>jone1458 &#64;gmail.com</span></p>
                        <p>Phone : <span>+20 01020445873</span></p>
                    </div>
                </div>
                <div class="card d-flex justify-content-around align-items-start flex-row">
                    <div class="icon">
                        <i class="fa-duotone fa-solid fa-cart-shopping"></i>
                    </div>
                    <div class="content">
                        <h2>Order Info</h2>
                        <p>Shipping : <span>Next express</span></p>
                        <p>Payment method <span>Paypal</span></p>
                        <p>status : <span>Deliverd</span></p>
                    </div>
                </div>
                <div class="card d-flex justify-content-around align-items-start flex-row">
                    <div class="icon">
                        <i class="fa-solid fa-bag-shopping"></i>
                    </div>
                    <div class="content">
                        <h2>Deliver to</h2>
                        <p>Address : <span>Dhrame clony,Hryana</span></p>
                    </div>
                </div>
            </div>
            <div class="paymentInfo d-flex justify-content-around align-items-center gap-4">
                <div class="card d-flex justify-content-around align-items-start flex-row">
                    <!-- <div class="icon">
                        <i class="fa-solid fa-user"></i>
                    </div> -->
                    <div class="content">
                        <h2>Payment Info</h2>
                        <p>Master card : <span>**** ****5428</span></p>
                        <p>Business name : <span>Jone sigh</span></p>
                        <p>Phone : <span>+20 01020445873</span></p>
                    </div>
                </div>
                <div class="note">
                    <h2>Note</h2>
                    <div class="noteArea">
                        <textarea name="" id="" placeholder="Type some note"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="products">
        <div class="header">
            <h1>Products</h1>
        </div>
        <div class="Order-products">
            <div class="products-table">
                <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Order ID</th>
                            <th>Product name</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr class="product">
                            <td>#3548725</td>
                            <td>Book</td>
                            <td>2</td>
                            <td>$30</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="resit d-flex justify-content-end">
                <div class="service">
                    <p>Subtotal</p>
                    <p>Tax(20%)</p>
                    <p>Discount</p>
                    <p>Shipping Rate</p>
                    <h4>Total</h4>
                </div>
                <div class="peice">
                    <p>$125.2</p>
                    <p>$278.65</p>
                    <p>$0</p>
                    <p>$0</p>
                    <h4>$322.25</h4>
                </div>
            </div>
        </div>
    </div>
</section>
