<div class="d-flex justify-content-center align-items-center p-4 m-4">
  <div class="w-75 mx-auto p-4 m-5 addProduct">
    <div class="mb-3 text-white">Add new category:</div>
    <form id="form">
      <div class="row gy-4">
        <div class="col-12">
          <div>
            <label for="name" class="d-block">Name:</label>
            <input
              id="name"
              type="text"
              class="form-control"
              placeholder=" Category Name"
              [(ngModel)]="Name"
              name="name"
            />
          </div>
        </div>

        <div class="col-12">
          <div>
            <!-- <label for="img">Product Image:</label>
                          <input id="img" class="form-control" type="file" placeholder=" Choose Product Image:"
                              [(ngModel)]="Image" name="Image"> -->
            <!-- 
               
                        <!-- <div *ngFor="let image of uploadedImages">
                            <img [src]="image" alt="Uploaded Product Image" class="img-thumbnail" />
                        </div> -->
            <label class="d-block">Images:</label>
            <input
              type="file"
              multiple
              (change)="onFileSelected($event)"
              class="inputfile"
            />
          </div>
        </div>
      </div>

      <button class="btn btn-main mt-5 w-100 fw-bold" (click)="sendData()">
        Add category
      </button>
    </form>
  </div>
</div>
