/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

:root {
  --MainColor: #d79b1e;
  --backgroundColor: #1a1a1a;
  --secondarybackgroundColor: #252525;
  --InputsbackgroundColor: #2b2b2b;
  --ParagraphColor: #b3b3b3;
  --main-font: "Poppins", sans-serif;
}

* {
  font-family: var(--main-font);
}

body {
  height: 100vh;
  background-color: var(--backgroundColor) !important;
  color: white !important;
}
