/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

:root {
  --MainColor: #d79b1e;
  --backgroundColor: #1a1a1a;
  --secondarybackgroundColor: #252525;
  --InputsbackgroundColor: #2b2b2b;
  --ParagraphColor: #b3b3b3;
  --main-font: "Poppins", sans-serif;
}

* {
  font-family: var(--main-font);
}

body {
  height: 100vh;
  background-color: var(--backgroundColor) !important;
  // background-color: #b3b3b3 !important;
  // color: white;
}
// .p-paginator {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-wrap: wrap;
//   border: none;
// }

.p-datatable .p-datatable-footer {
  border: 1px solid var(--secondarybackgroundColor);
  border-width: 0 0 1px 0;
  // padding: 1rem 0.5px;
  font-weight: 700;
}

table {
  /* outline: 1px solid #0c9 !important; */
  border: none;
}
thead,
tbody,
tfoot,
tr,
td,
th {
  // border: none;

  background-color: var(--backgroundColor);
}

// /* Add this CSS to create space between each table row */
// .space {
//   margin-bottom: 90px; /* Adds space between rows */
// }

// .p-datatable-gridlines td,
// th {
//   padding-block: 30px;
// }
// .w-80 {
//   width: 85%;
//   border-radius: 20px !important;
// }

.btn-main {
  border-radius: 10px;
  background-color: #f5c33c;
  color: white;
  border: none;
  font-size: 15px;
  padding: 8px 17px;
  margin: 20px;
}

.listSection {
  background-color: var(--backgroundColor);
  padding: 5px;
  .InnerSection {
    padding: 15px 5px;
    .search_component {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 75%;
    }
  }
  .ListTable {
    .list {
      background-color: var(--backgroundColor);
      cursor: pointer;
    }
    .list:hover {
      opacity: 0.7;
    }
    tr:nth-child(odd) {
      background-color: #202020;
    }
    th {
      background-color: var(--backgroundColor);
      color: var(--MainColor);
      font-size: 20px;
      text-align: center;
    }
    td {
      text-align: center;
      color: var(--ParagraphColor);
    }
  }
}

/// addd---editt ---comp
///
///

.addProduct {
  border-radius: 22px;

  color: white;
  padding: 40px;
  font-size: 20px;
  box-shadow: 1px 1px 37px 13px rgba(187, 184, 184, 0.4);
  border-radius: 10px;
}
::placeholder {
  color: var(--ParagraphColor);
}
.addButton {
  background-color: var(--MainColor);

  cursor: pointer;
}
.editButton {
  cursor: pointer;
}
