/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

:root {
  --MainColor: #d79b1e;
  --backgroundColor: #1a1a1a;
  --secondarybackgroundColor: #252525;
  --InputsbackgroundColor: #2b2b2b;
  --ParagraphColor: #b3b3b3;
  --main-font: "Tajawal", serif;
}

* {
  font-family: var(--main-font);
}

body {
  height: 100vh;
  background-color: var(--backgroundColor) !important;
}
.p-datatable .p-datatable-footer {
  border: 1px solid var(--secondarybackgroundColor);
  border-width: 0 0 1px 0;
  font-weight: 700;
}

.p-multiselect {
  .p-multiselect-label-container {
    .p-multiselect-label {
      padding-top: 0.8rem !important;
      padding-bottom: 0.8rem !important;
    }
  }
}

.form-control {
  background-color: #09090b !important;
  color: #fff;
  border-color: #52525b;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;

  &:focus {
    color: #fff;
    box-shadow: unset;
    border-color: var(--MainColor);
  }
  &::placeholder {
    color: #ffffffbe;
  }
}

table {
  border: none;
}
thead,
tbody,
tfoot,
tr,
td,
th {
  border: none;
}

.btn-main {
  border-radius: 10px;
  background-color: #f5c33c;
  color: #1a1a1a;
  border: none;
  font-size: 1rem;
  padding: 8px 17px;
  &:hover {
    background-color: #dbaf35;
    color: #1a1a1a;
  }
}

.listSection {
  background-color: var(--backgroundColor);
  padding: 5px;
  .InnerSection {
    padding: 15px 5px;
    .search_component {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 75%;
    }
  }
  .ListTable {
    .list {
      background-color: var(--backgroundColor);
      cursor: pointer;
    }
    .list:hover {
      opacity: 0.7;
    }
    tr:nth-child(odd) {
      background-color: #202020;
    }
    tr:nth-child(even) {
      background-color: var(--backgroundColor);
    }
    th {
      background-color: var(--backgroundColor);
      color: var(--MainColor);
      font-size: 20px;
      text-align: center;
    }
    td {
      text-align: center;
      color: var(--ParagraphColor);
    }
  }
}

/// addd---editt ---comp
///
///

.addProduct {
  border-radius: 22px;

  color: white;
  padding: 40px;
  font-size: 20px;
  box-shadow: 1px 1px 37px 13px rgba(187, 184, 184, 0.4);
  border-radius: 10px;
}
::placeholder {
  color: var(--ParagraphColor);
}
.addButton {
  background-color: var(--MainColor);

  cursor: pointer;
}
.editButton {
  cursor: pointer;
}

.p-rating {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--p-rating-gap);
}
.p-datatable-tbody > tr > td {
  text-align: start;
  border-color: var(--p-datatable-body-cell-border-color);
  border-style: solid;
  border-width: 0 0 1px 0;
  padding: 30px !important;
}
img {
  width: 120px;
}
.p-button {
  background-color: var(--MainColor) !important;
}
.buttonCommen {
  position: relative;
  right: 50px;
}
